{% extends 'Admin/base.html.twig' %}

{% block _header %}
    {{ include('Admin/partials/header.html.twig') }}
{% endblock %}

{% block _page_content %}

    <h1>Gestion des messages</h1>

    <section class="section">
        <h2>{{ NoReadEmailCount }} messages non lus sur {{ AllEmailCount }} reçus</h2>
        {% if EmailList %}
            {% for email in EmailList %}
                <div class="message view{{ email.view }}">
                    <div class="message__left">
                        <div class="message__date">{{ email.date|date("d/m/Y") }} | {{ email.date|date("G:i:s") }}</div>
                        <a href="{{ path('email_show', { 'id' : email.id } )}}" class="message__from">{{ email.firstName }} {{ email.lastName }}</a>
                    </div>
                    <div class="message__delete">
                        <a href="{{ path('email_delete', { 'id' : email.id } )}}" class="delete">Supprimer le message</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            Aucun message pour le moment
        {% endif %}
    </section>



{% endblock %}