{% extends 'Admin/base.html.twig' %}

{% block _header %}
    {{ include('Admin/partials/header.html.twig') }}
{% endblock %}

{% block _page_content %}

    <h1>Gestion des messages</h1>

    <section class="section">

        <a href="{{ path('email_delete', { 'id' : Email.id } )}}" class="delete">Supprimer ce message</a>
        <div class="message-show">
            <h2>Message de : {{ Email.firstName }} {{ Email.lastName }}</h2>
            <div>le {{ Email.date|date("d/m/Y") }} à {{ Email.date|date("G:i:s") }}</div>
            <div>{{ Email.email }}</div>
            <div class="message-show__content">{{ Email.message }}</div>
        </div>
    </section>

    <a href="{{ path('email_list')}}" class="back">Retour à la liste des messages</a>

{% endblock %}