<div class="footer-mobile">
    <div class="footer-mobile__1">
        <a href="#top" class="up"></a>
        <span class="main-footer__inner__title">Rappelez vous de ...</span>
        <ul class="main-footer__inner__1__list main-footer__inner__1__list--1">
            <li class="main-footer__inner__1__list__item"><a href="http://www.tutos-webdesign.com" target="_blank">Les Tutos Webdesign</a></li>
            <li class="main-footer__inner__1__list__item"><a href="http://www.jsi-natation.fr" target="_blank">JSI Natation</a></li>
            <li class="main-footer__inner__1__list__item"><a href="/francetv360/index.php" target="_blank">France.Tv360</a></li>
        </ul>
        <ul class="main-footer__inner__1__list">
            <li class="main-footer__inner__1__list__item"><a href="{{ path('formation') }}" target="_blank">Insight Lab</a></li>
            <li class="main-footer__inner__1__list__item"><a href="{{ path('formation') }}" target="_blank">SCUF Admin</a></li>
            <li class="main-footer__inner__1__list__item"><a href="http://www.o-agence.fr" target="_blank">Agence'O</a></li>
        </ul>
    </div>
    <div class="footer-mobile__2">
        <span class="
            main-footer__inner__title
            main-footer__inner__title--black">
          Laissez moi un message
        </span>
        <div class="block-alert mail"></div>
        <input type="hidden" value="{{ path("contact_form") }}" class="jsUrlSendMail">
        {{ render(controller('App\\Controller\\PortfolioController:contactFormAction')) }}
    </div>
</div>


<footer class="main-footer">
    <a href="#top" class="up"></a>
    <div class="left"></div>
    <div class="right"></div>
    <div class="main-footer__inner">
        <div class="main-footer__inner__1">
            <span class="main-footer__inner__title">Rappelez vous de...</span>
            <ul class="main-footer__inner__1__list main-footer__inner__1__list--1">
                <li class="main-footer__inner__1__list__item"><a href="http://www.tutos-webdesign.com" target="_blank">Les Tutos Webdesign</a></li>
                <li class="main-footer__inner__1__list__item"><a href="http://www.jsi-natation.fr" target="_blank">JSI Natation</a></li>
                <li class="main-footer__inner__1__list__item"><a href="/francetv360/index.php" target="_blank">France.Tv360</a></li>
            </ul>
            <ul class="main-footer__inner__1__list">
                <li class="main-footer__inner__1__list__item"><a href="{{ path('formation') }}" target="_blank">Insight Lab</a></li>
                <li class="main-footer__inner__1__list__item"><a href="{{ path('formation') }}" target="_blank">SCUF Admin</a></li>
                <li class="main-footer__inner__1__list__item"><a href="http://www.o-agence.fr" target="_blank">Agence'O</a></li>
            </ul>
        </div>
        <div class="main-footer__inner__2">
            <span class="
                    main-footer__inner__title
                    main-footer__inner__title--black">
                Laissez moi un message
            </span>
            <div class="block-alert mail"></div>
            <input type="hidden" value="{{ path("contact_form") }}" class="jsUrlSendMail">
            {{ render(controller('App\\Controller\\PortfolioController:contactFormAction')) }}
        </div>
    </div>
</footer>